@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;700;800&family=Poppins&display=swap');
body {
  margin: 0;
  font-family: 'Outfit','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding : 0;
}
h1{
  font-size: 8rem;
}
p{
  font-size: 2rem;
}
.App{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  color:white;
  position: relative;

  
}
.App:before {
content: "";
background: url(assets/pexels-brett-sayles-1431822.jpg) no-repeat center center/cover ;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -1;
}
.search{
  
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding: 24px;
  border: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}
::placeholder {
  color: aliceblue;
  font-size: large;
}
.container {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 text-align: center;
 height: 100vh;
}
.main {
  align-items: center;
}
.wrap {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
